<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your Site List</title>
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!--script src="suradata.js"></script-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href ="{% static '/css/site_list_styles.css' %}"/>


</head>
<body>
<div id="app">
<div class="uk-container">
<ul uk-accordion>
    {% for site in sites %}
        <li>
            <a class="uk-accordion-title" href="#">{{ site.name }}</a>
            <div class="uk-accordion-content">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                    <table class="uk-table  uk-table-small">
                        <tbody>
                        <tr>
                            <td><strong>URL:</strong></td>
                            <td>{{ site.url }}</td>
                        </tr>
                        <tr>
                            <td><strong>Interval:</strong></td>
                            <td>{{ site.interval }}</td>
                        </tr>
                        <tr>
                            <td><strong>Status:</strong></td>
                            <td><img src="{% static 'red_circle.png' %}" height="20px" width="20px"></td>
                        </tr>
                        <tr>
                            <td><strong>Monitoring:</strong></td>
                            <td>
                                <div>
                                    <label class="switch">
                                        <input type="checkbox" checked v-on:click="togglemonitoring('{{ site }}')">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
</div>

</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    var app = new Vue({
        el:"#app",
        data:{
        },

        methods:{
            togglemonitoring:function (m) {
                console.log(m);
            }
        }

    });
</script>
</body>

</html>