<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Site Info</title>
</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = () =
    >
    {

        MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('241429543097582',
                    function success(thread_context) {
                        // success
                        document.getElementById("psid").value = thread_context.psid;
                    },
                    function error(err) {
                        // error
                        console.log(err);
                    }
                );
            }
        }, function error(err) {
            // error retrieving supported features
            console.log(err);
        });
        document.getElementById('submitButton').addEventListener('click', function () {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
        });

    }


</script>
<form action="" method="post">
    <input type="hidden" name="psid" id="psid">
    <p><label for="id_user">User:</label> <input type="text" name="user" required maxlength="50" id="id_user" /></p>
<p><label for="id_name">Name:</label> <input type="text" name="name" required maxlength="50" id="id_name" /></p>
<p><label for="id_url">Url:</label> <input type="text" name="url" required maxlength="100" id="id_url" /></p>
<p><label for="id_interval">Interval:</label> <input type="number" name="interval" value="120" required id="id_interval" /></p>
    <input type="submit" id="submitbutton" value="Save" />
</form>
</body>
</html>