<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your Site List</title>
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!--script src="suradata.js"></script-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href ="{% static '/css/site_list_styles.css' %}"/>


</head>
<body>
<div id="app">
<div class="uk-container">
<ul v-show="!showform" uk-accordion>
    {% for site in sites %}
        <li>
            <a class="uk-accordion-title" href="#">{{ site.name }}</a>
            <div class="uk-accordion-content">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                    <table class="uk-table  uk-table-small">
                        <tbody>
                        <tr>
                            <td><strong>URL:</strong></td>
                            <td>{{ site.url }}</td>
                        </tr>
                        <tr>
                            <td><strong>Interval:</strong></td>
                            <td>{{ site.interval }}</td>
                        </tr>
                        <tr>
                            <td><strong>Status:</strong></td>
                            <td><img src="{% static 'red_circle.png' %}" height="20px" width="20px"></td>
                        </tr>
                        <tr>
                            <td><strong>Monitoring:</strong></td>
                            <td>
                                <div>
                                    <label class="switch">
                                        <input type="checkbox" checked v-on:click="togglemonitoring('{{ site }}')">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tr>
                            <td><button v-on:click="edit('{{ site }}')" class="uk-button uk-button-small uk-button-secondary">Edit</button></td>
                        </tr>

                    </table>




                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<div v-show="showform" id="formdiv">
        <div class="uk-form-stacked uk-container">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_name" name="name" type="text" v-model="name"
                           placeholder="Give a name" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">URL</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_url" name="url" type="text" v-model="url"
                           placeholder="Provide the URL" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Interval</label>
                <div class="uk-form-controls">

                    <div uk-grid>
                        <div class="uk-width-3-4">
                            <input class="uk-range" type="range" value="2" min="2" max="10" step=".1"
                                   v-model="interval">
                        </div>

                        <div class="uk-width-1-4 uk-text-small" id="id_interval_rounded">
                            2 Mins.
                        </div>

                    </div>
                </div>
            </div>


            <br>

        </div>
        <button v-on:click="update" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                >Update
        </button>
    </div>
</div>

</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)
    var app = new Vue({
        el:"#app",
        data:{
            showform:false,
            name:'',
            url:'',
            interval:2,
            objectid:'',
        },

        methods:{
            togglemonitoring:function (m) {
                console.log(m);
            },
            update:function (e) {
                console.log("updating");
            },
            edit:function (m) {
                var splitted = m.split('@');

                data = {
                    userid : splitted[0],
                    siteid : splitted[1]
                }
                var endpoint = "{{ endpoint }}";

                axios.post(endpoint, data).then(function(response){
                    console.log(response);
                    this.name = response.data.name;
                    this.url = response.data.url;
                    this.interval = response.data.interval,
                    this.objectid = response.data.objectid

                });


                console.log(data);
            }
        }

    });
</script>
</body>

</html>