<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Site Info</title>
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!--script src="suradata.js"></script-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>



</head>
<body>
{% if load_sdk %}
    {% include "sitemonitor/fb_sdk.html" %}
{% endif %}
<!--form action="" method="post">
    <input type="hidden" name="psid" id="psid">
    <p><label for="id_user">User:</label> <input type="text" name="user" required maxlength="50" id="id_user" /></p>
<p><label for="id_name">Name:</label> <input type="text" name="name" required maxlength="50" id="id_name" /></p>
<p><label for="id_url">Url:</label> <input type="text" name="url" required maxlength="100" id="id_url" /></p>
<p><label for="id_interval">Interval:</label> <input type="number" name="interval" value="120" required id="id_interval" /></p>
    <input type="submit" id="submitbutton" value="Save" />
</form-->

<div id="app">
    <div v-show="!showmessage" id="formdiv">
        <div class="uk-form-stacked uk-container">
            <input type="text" name="psid" id="psid" value="none" hidden>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_name" name="name" type="text" v-model="name"
                           placeholder="Give a name" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">URL</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_url" name="url" type="text" v-model="url"
                           placeholder="Provide the URL" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Interval</label>
                <div class="uk-form-controls">

                    <div uk-grid>
                        <div class="uk-width-3-4">
                            <input class="uk-range" type="range" value="2" min="2" max="10" step=".1"
                                   v-model="interval">
                        </div>

                        <div class="uk-width-1-4 uk-text-small" id="id_interval_rounded">
                            2 Mins.
                        </div>

                    </div>
                </div>
            </div>


            <br>

        </div>
        <button v-on:click="save" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                >Save
        </button>
    </div>
    <div v-show="showmessage" id="messagediv">
        <div class="uk-container">
        {% verbatim %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <h3 class="uk-card-title">Great!</h3>
            <p><strong>Uptimbo</strong> will monitor your site <strong>{{ url }}</strong> in each <strong>{{ interval }} minutes</strong> interval.
            If it is found down or unreachable, we'll let you know in this thread pronto!.</p>
        </div>
        {% endverbatim %}
        </div>
        <br>
        <div >
            <button v-on:click="addanother" class="uk-button uk-width-1-1 uk-button-primary">Add Another</button>
            {% verbatim %}
            <button v-on:click="edit"class="uk-button uk-width-1-1 uk-button-secondary">Edit {{ name }}</button>
            {% endverbatim %}
            <button v-on:click="close" class="uk-button uk-width-1-1 uk-button-default">Close</button>
        </div>
    </div>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)

    var app = new Vue({
        el: "#app",
        data:{
            name:'',
            url:'',
            interval:2,
            showmessage:false,
            objectid:'',
        },

        methods:{
            save:function(event){
                console.log("save button called ");
                data =  {
                    name: this.name,
                    url: this.url,
                    interval:Math.round(this.interval),
                    psid:document.getElementById('psid').value,
                    objectid : this.objectid,
                  };
                //console.log(data);

                var endpoint = "{{ endpoint }}";
                axios.post(endpoint, data).then(function(response){
                    if(response.data.message == "success"){
                        /*Hide form and show message*/
                        var formdiv = document.getElementById('formdiv');
                        //$hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse').addClass('uk-animation-slide-left uk-animation-reverse');
                        formdiv.className = "uk-animation-slide-left uk-animation-reverse";

                        console.log(response.data.name);
                        setTimeout(function () {
                        app.$data.showmessage=true;
                        app.$data.objectid = response.data.objectid;
                        var messagediv = document.getElementById('messagediv');
                        messagediv.className="uk-animation-slide-right";
                        },500);


                    }
                    else{
                        console.log("error");
                    }
                   /*var response_data = JSON.parse(response.data);

                   console.log(response_data);*/

                });
            },
            addanother:function (event) {
                /*var $hide_at_left = $(".formclass");
                $hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse');*/
                this.name='';
                this.url='';
                this.interval=2;
                this.objectid='';
                var messagediv = document.getElementById('messagediv');
                messagediv.className = 'uk-animation-slide-right uk-animation-reverse';


                setTimeout(function () {
                    app.$data.showmessage = false;
                    var formdiv = document.getElementById('formdiv');
                    formdiv.className = 'uk-animation-slide-left';
                }, 500);
            },
            edit:function (event) {
                /*var $hide_at_left = $(".formclass");
                $hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse');*/

                var messagediv = document.getElementById('messagediv');
                messagediv.className = 'uk-animation-slide-right uk-animation-reverse';


                setTimeout(function () {
                    app.$data.showmessage = false;
                    var formdiv = document.getElementById('formdiv');
                    formdiv.className = 'uk-animation-slide-left';
                }, 500);
            },
            close:function (event) {
                MessengerExtensions.requestCloseBrowser(function success() {
                        console.log("Webview closing");
                    }, function error(err) {
                        console.log(err);
                    });
            }
        },
        watch:{
            interval:function(val){
                rounded_interval = Math.round(val);
                document.getElementById('id_interval_rounded').innerHTML = rounded_interval+" Mins.";
            }
        }


    })
</script>
</body>
</html>