<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Site Info</title>
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!--script src="suradata.js"></script-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <!--Jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>


</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = () =>
    {

        MessengerExtensions.getSupportedFeatures(function success(result) {
            var features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('241429543097582',
                    function success(thread_context) {
                        // success
                        console.log(thread_context.psid);
                        //document.getElementById("psid").value = thread_context.psid;
                        var psidEL = document.getElementById("psid");
                        document.getElementById("psid").value = thread_context.psid;
                        console.log(psidEL);
                    },
                    function error(err) {
                        // error
                        console.log(err);
                    }
                );
            }
        }, function error(err) {
            // error retrieving supported features
            console.log(err);
        });
        /*document.getElementById('submitButton').addEventListener('click', function () {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
        });*/

    }


</script>
<!--form action="" method="post">
    <input type="hidden" name="psid" id="psid">
    <p><label for="id_user">User:</label> <input type="text" name="user" required maxlength="50" id="id_user" /></p>
<p><label for="id_name">Name:</label> <input type="text" name="name" required maxlength="50" id="id_name" /></p>
<p><label for="id_url">Url:</label> <input type="text" name="url" required maxlength="100" id="id_url" /></p>
<p><label for="id_interval">Interval:</label> <input type="number" name="interval" value="120" required id="id_interval" /></p>
    <input type="submit" id="submitbutton" value="Save" />
</form-->

<div id="app">
    <div v-show="!showmessage" class="formclass">
        <div class="uk-form-stacked uk-container">
            <input type="text" name="psid" id="psid" value="none" hidden>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_name" name="name" type="text" v-model="name"
                           placeholder="Give a name" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">URL</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="id_url" name="url" type="text" v-model="url"
                           placeholder="Provide the URL" required>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Interval</label>
                <div class="uk-form-controls">

                    <div uk-grid>
                        <div class="uk-width-3-4">
                            <input class="uk-range" type="range" value="2" min="2" max="10" step=".1"
                                   v-model="interval">
                        </div>

                        <div class="uk-width-1-4 uk-text-small" id="id_interval_rounded">
                            2 Mins.
                        </div>

                    </div>
                </div>
            </div>


            <br>

        </div>
        <button v-on:click="save" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                >Save
        </button>
    </div>
    <div v-show="showmessage" class="messageclass">
        <div class="uk-container">
            Thank you
        </div>
        <div >
            <button v-on:click="showform" class="uk-button uk-width-1-1 uk-button-primary">Add Another</button>
            <button class="uk-button uk-width-1-1 uk-button-default">Close</button>
        </div>
    </div>
</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect)

    var app = new Vue({
        el: "#app",
        data:{
            name:'',
            url:'',
            interval:2,
            showmessage:false,
        },

        methods:{
            save:function(event){
                console.log("save button called ");
                data =  {
                    name: this.name,
                    url: this.url,
                    interval:this.interval,
                    psid:document.getElementById('psid').value,
                  };
                console.log(data);
                var l_host = 'http://localhost:8000/sitemonitor/add'
                var r_host = 'https://uptimbo.herokuapp.com/sitemonitor/add'
                axios.post(r_host, data).then(function(response){
                    if(response.data.message == "success"){
                        /*Hide form and show message*/
                        var $hide_at_left = $(".formclass");
                        $hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse').addClass('uk-animation-slide-left uk-animation-reverse');

                        setTimeout(function () {
                        app.$data.showmessage=true;
                        var $show_from_left = $(".messageclass");
                        $show_from_left.removeClass('uk-animation-slide-right uk-animation-reverse').addClass('uk-animation-slide-right');
                        },500);


                    }
                   /*var response_data = JSON.parse(response.data);

                   console.log(response_data);*/
                    /*MessengerExtensions.requestCloseBrowser(function success() {
                        console.log("Webview closing");
                    }, function error(err) {
                        console.log(err);
                    });*/
                });
            },
            showform:function (event) {
                /*var $hide_at_left = $(".formclass");
                $hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse');*/
                var $show_from_left = $(".messageclass");
                $show_from_left.removeClass('uk-animation-slide-right uk-animation-reverse').addClass('uk-animation-slide-right uk-animation-reverse');


                setTimeout(function () {
                    app.$data.showmessage = false;
                    var $hide_at_left = $(".formclass");
                    $hide_at_left.removeClass('uk-animation-slide-left uk-animation-reverse').addClass('uk-animation-slide-left');
                }, 500);
            }
        },
        watch:{
            interval:function(val){
                rounded_interval = Math.round(val);
                document.getElementById('id_interval_rounded').innerHTML = rounded_interval+" Mins.";
            }
        }


    })
</script>
</body>
</html>